* {
	padding: 0;
	margin: 0;
	list-style-type: none;
	box-sizing: border-box;
	text-decoration: none;
}
body{
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
}
.container{
	width: 1140px;
	margin: 0 auto;
}
.nav-background{
	background-color: #0D263B;
	height: 64px;
	display: flex;
	align-items: center;
}
